body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Courier New', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', monospace;
    /*sans-serif;*/
   background: linear-gradient(89deg,#C0C0C0 0%,#404040 100%);


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button{
  cursor: pointer;
}


